[submodule "player-features"]
	path = player-features
	url = https://github.com/p-mola/standards-player-features
[submodule "proposed-features"]
	path = proposed-features
	url = https://github.com/p-mola/p-mola-feature-tracker
[submodule "schemas"]
	path = schemas
	url = https://github.com/p-mola/schemas
